# Dependencies
/node_modules
/public

# Configs
/commitlint.config.js

# Caches
/.eslintcache
/.vscode
/.cache

# Testings
/coverage

# Builds
/build

# Miscellaneous
/.DS_Store
/.env
/.env.development
/.env.test
/.env.production
/package-lock.json

# Logs
/*-error.log
/*-debug.log

# Types

# Ignores
